canvas {
  position: absolute;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-text {
  color: red;
}

#footer {
  position: fixed;
  bottom: 0%;
  right: 1%;
  padding: 1%;
  text-align: right;
  font-size: 0.9rem;
}
